<h1>Detail of the product</h1>
<div id = "info">
<p><%= @product.name %></p>
<%= image_tag(@product.image.url,alt: @product.name, class: "product-image") if @product.image.present? %>
<p>Description: <%= @product.description %></p>
<p><%= @product.price %></p>
</div>
